.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span {
    visibility: hidden;
}

.topbar-wrapper .link:after {
    content: 'Easy Api';
    color: #fff;
    visibility: visible;
    display: block;
    position: absolute;
    padding: 15px;
}
